@keyframes fadeIn {
    0% {
      transform: translateX(-20px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px); 
      opacity: 1;
    }
}

#player-info.fadeIn {
    animation: fadeIn 1s forwards;
}

#game-title.fadeIn {
    animation: fadeIn 1s forwards;
}

#game-status.fadeIn {
    animation: fadeIn 1s forwards;
}