@keyframes grow {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1); 
    }
}


.row:nth-child(2){
    border-bottom: 4px solid black ;
    border-top: 4px solid black ;
}

.cell:nth-child(2),
.cell:nth-child(4),
.cell:nth-child(6) {
    border-left: 4px solid black ;
    border-right: 4px solid black ;
}

#game-board {
    margin-top: 12px;
    animation: grow 0.5s forwards;
}